include ../includes/mixins

.btn-list
	+btn('Primary button', 'primary')
	+btn('Primary inverted button', 'primary-inverted')
	+btn('Default button', 'default')
	+btn('Secondary button', 'secondary')
	+btn('Info button', 'info')
	+btn('Success button', 'success')
	+btn('Warning button', 'warning')
	+btn('Danger button', 'danger')
	+btn('Link button', 'link')
	+btn('Clean button', 'clean')

h3 Button sizes

p
	+btn('Large button', 'primary')(class="btn-lg")
p
	+btn('Default button', 'primary')
p
	+btn('Small button', 'primary')(class="btn-sm")
p
	+btn('Extra small button', 'primary')(class="btn-xs")

p
	+btn('Block button', 'primary')(class="btn-block")

h3 Disabled buttons

.btn-list
	+btn('Primary button', 'primary')(disabled=true)
	+btn('Primary inverted button', 'primary-inverted')(disabled=true)
	+btn('Default button', 'default')(disabled=true)
	+btn('Secondary button', 'secondary')(disabled=true)
	+btn('Info button', 'info')(disabled=true)
	+btn('Success button', 'success')(disabled=true)
	+btn('Warning button', 'warning')(disabled=true)
	+btn('Danger button', 'danger')(disabled=true)
	+btn('Link button', 'link')(disabled=true)
	+btn('Clean button', 'clean')(disabled=true)