extends root

mixin doc-section(heading)
	- var id = heading.replace(/ /g,'')
	section.mmx-docs-section
		.container.mmx-docs-container
			h3.mmx-docs-heading(id= id)= heading
				button.btn(data-clipboard-text= "#" + heading)
					span.fa.fa-link
			if block
				block
				
			
				
mixin doc-section-no-container(heading)
	- var id = heading.replace(/ /g,'')
	section.mmx-docs-section
		.container.mmx-docs-container
			h3.mmx-docs-heading(id= id)= heading
				button.btn(data-clipboard-text= "#" + heading)
					span.fa.fa-link
		if block
			block
				
mixin docs-heading(heading)
	- var id = heading.replace(/ /g,'')
	.mmx-docs-heading-container
		.container.mmx-docs-container
			h2.mmx-docs-heading(id= id)= heading
			

block headerstyles
	link(rel='stylesheet', href='#{settings.stylesPath}styleguide.css')

block rootcontent
	.mmx-componentlibrary(data-appname= settings.title)
		header.mmx-docs-header
			.container.mmx-docs-container
				h1(class="page-heading")= settings.title + " Styleguide"
				#rss-feeds

		nav#mmx-document-nav.hidden-xs.hidden-sm.hidden-md
			button#mmx-docs-toggle-button
				span.fa.fa-thumb-tack
			.mmx-docs-logo
				img(src="images/styleguide/mmx-logo.svg", alt="")
			ul.list-unstyled.nav
		block content
		footer.mmx-docs-footer
			.container.mmx-docs-container
				.text-center
					a(href="http://www.metamatrix.se")
						img(src="images/styleguide/mmx-logo.svg")
					
		
block footerscripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
	script(src='#{settings.scriptsPath}styleguide.min.js')